


/*===========================
      06.TEAM css 
===========================*/

.team_area{}

.single_team{
    margin-bottom: 30px;
    
    & .team_image{
        & img{
            width: 100%;
        }
    }
    & .team_content{
        margin-top: -25px;
        position: relative;
        z-index: 5;
        
        & .social{
            display: inline-block;
            background-color: $white;
            border: 2px solid $theme-color;
            border-radius: 50px;
            padding: 0 10px;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            
            @media #{$sm}{
                padding: 0 5px;
            }
            
            & li{
                display: inline-block;
                margin: 10px;
                
                @media #{$sm}{
                    margin: 5px;
                }
                
                & a{
                    font-size: 16px;
                    color: $body-color;
                    @include transition(0.3s);
                    
                    @media #{$sm}{
                        font-size: 14px;
                    }
                    
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
        & .team_name{
            margin-top: 20px;
            font-size: 20px;
            font-weight: 700;
            
            @media #{$sm}{
                font-size: 18px;
            }
        }
        & p{
            margin-top: 10px;
        }
    }
    
    &:hover{
        & .social{
            opacity: 1;
            visibility: visible;
        }
    }
}











