// Font Family
$font-1: 'Lato', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #f7f7fd;


// Theme Color
$theme-color: #CE2F3B;


//Body Color
$body-color: #585F6E;


// Border Color
$border-color: #D2D2D2;


// Heading Color
$heading-color: #292D36;


// Soft color
$shadow: #8F8F8F;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


